.PageTable {
  font-family: var(--font-family-mono);
  padding: var(--page-padding);
  width: 100%;

  td,
  th {
    border-bottom: 1px solid var(--color-neutral-400);
  }

  &__thead {
    color: var(--color-blue-gray-500);
    font-weight: 500;
    text-align: left;

    td {
      padding: 0 4px 6px;
    }
  }

  &__row {
    td {
      max-width: 120px;
      overflow: hidden;
      padding: 6px 4px;
      text-overflow: ellipsis;
      vertical-align: top;
      white-space: nowrap;

      &:first-of-type {
        width: 26px;
      }
    }

    &--expanded {
      td {
        white-space: normal;
        word-wrap: break-word;
      }
    }
  }
}
