.PageTable {
  font-family: var(--font-family-mono);
  padding: 4px 0 4px 12px;
  width: 100%;

  td,
  th {
    border-bottom: 1px solid var(--color-gray-4);
    padding: 4px 0;
  }

  th {
    color: var(--color-gray-3);
    font-weight: 500;
    text-align: left;
  }

  tr {
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}
