.PageTable {
  font-family: var(--font-family-mono);
  padding: 4px 0 0 12px;
  width: 100%;

  thead {
    color: var(--color-blue-gray-500);
  }

  td,
  th {
    border-bottom: 1px solid var(--color-neutral-400);
    padding: 6px 4px;
  }

  th {
    color: var(--color-blue-gray-900);
    font-weight: 500;
    text-align: left;
  }
}
