.DetailPanel {
  &__table {
    td,
    th {
      border-bottom: 1px solid var(--color-gray-100);
      padding: 6px 0;
      text-align: left;
    }

    td:nth-child(1),
    th {
      color: var(--color-gray-500);
      font-weight: 500;
      padding-right: 8px;
    }

    td {
      min-width: 150px;
      vertical-align: top;
    }
  }

  &__title {
    margin-bottom: 8px;
  }
}
