.Button {
  $self: &;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  outline: none;
  padding: 9px 12px;
  transition: all 0.1s;

  &--disabled {
    cursor: auto;
  }

  &--contained {
    color: var(--color-white);

    &#{$self}--primary {
      background: var(--color-primary);
      border-color: var(--color-primary);

      &:hover {
        background: var(--color-primary-dark);
        border-color: var(--color-primary-dark);
      }

      &#{$self}--disabled,
      &#{$self}--disabled:hover {
        background: var(--color-primary-disabled);
        border-color: var(--color-primary-disabled);
      }
    }

    &#{$self}--secondary {
      background: var(--color-secondary);
      border-color: var(--color-secondary);

      &:hover {
        background: var(--color-secondary);
        border-color: var(--color-secondary);
      }
    }

    &#{$self}--tertiary {
      background: var(--color-tertiary);
      border-color: var(--color-tertiary);

      &:hover {
        background: var(--color-tertiary);
        border-color: var(--color-tertiary);
      }
    }
  }

  &--outlined {
    background: transparent;

    &#{$self}--primary {
      border-color: var(--color-blue-gray-200);
      color: var(--color-primary);

      &:hover {
        background: var(--color-primary-outline-bg);
      }

      &#{$self}--disabled,
      &#{$self}--disabled:hover {
        background: var(--color-primary-disabled-fill);
        border-color: var(--color-primary-disabled-text);
        color: var(--color-primary-disabled-text);
      }
    }

    &#{$self}--secondary {
      border-color: var(--color-secondary);
      color: var(--color-secondary);

      &:hover {
        border-color: var(--color-secondary);
        color: var(--color-secondary);
      }
    }

    &#{$self}--tertiary {
      border-color: var(--color-tertiary);
      color: var(--color-tertiary);

      &:hover {
        border-color: var(--color-tertiary);
        color: var(--color-tertiary);
      }
    }
  }

  &--link {
    background: transparent;
    border-color: transparent;

    &:hover {
      text-decoration: underline;
    }

    &#{$self}--primary {
      color: var(--color-primary);

      &#{$self}--disabled,
      &#{$self}--disabled:hover {
        color: var(--color-primary-disabled-text);
        text-decoration: none;
      }
    }
  }
}
