$modal-header-height: 48px;
$modal-footer-height: 60px;

@keyframes addOverlay {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.3);
  }
}

.Modal {
  background: var(--color-white);
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;

  &.default {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 324px;
  }

  &__overlay {
    animation: addOverlay 0.3s forwards;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;

    &.submitting {
      cursor: wait;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    height: $modal-header-height;
    padding: 0 12px;
    position: relative;

    .Icon__close {
      cursor: pointer;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      transition: color 0.1s;

      &:hover:not(.disabled) {
        color: var(--color-danger);
      }

      &.disabled {
        color: var(--color-primary-disabled);
        cursor: not-allowed;
      }

      &.submitting {
        cursor: wait;
      }
    }
  }

  &__content {
    background: var(--color-gray-6);
    max-height: calc(85vh - #{$modal-header-height} - #{$modal-footer-height});
    overflow-y: auto;
    padding: 12px;
  }

  &__footer {
    align-items: center;
    display: flex;
    height: $modal-footer-height;
    justify-content: flex-end;
    padding: 0 12px;
  }

  &__default-submit {
    margin-left: 12px;
  }
}
