@keyframes addOverlay {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.3);
  }
}

.Modal {
  background: var(--color-white);
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;

  &__close-icon {
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);

    &--submitting {
      cursor: wait;
    }
  }

  &__content {
    background: var(--color-gray-050);
    max-height: calc(85vh - var(--modal-header-height) - var(--modal-footer-height));
    overflow-y: auto;
    padding: 12px;

    &--no-footer {
      border-radius: 0 0 3px 3px;
    }
  }

  &--default-position {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 324px;
  }

  &__default-submit {
    margin-left: 12px;
  }

  &__footer {
    align-items: center;
    display: flex;
    height: var(--modal-footer-height);
    justify-content: flex-end;
    padding: 0 12px;
  }

  &__header {
    align-items: center;
    display: flex;
    height: var(--modal-header-height);
    padding: 0 12px;
    position: relative;
  }

  &__overlay {
    animation: addOverlay 0.3s forwards;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;

    &--submitting {
      cursor: wait;
    }
  }
}
