.LeftMenu {
  display: flex;
  flex-direction: column;

  .points {
    margin: 12px 12px 12px 36px;

    &__amount {
      align-items: center;
      color: var(--color-tertiary);
      display: flex;
      font-family: var(--font-family-inter-medium);
      font-size: var(--font-size-large);
      font-weight: 500;
    }

    &__title {
      color: var(--color-gray-500);
      cursor: default;
      margin-bottom: 4px;
    }
  }
}
