.LeftSubmenuItem {
  $left-padding: 36px;
  $right-padding: 12px;

  align-items: center;
  color: var(--color-primary);
  display: flex;
  overflow: hidden;
  padding-left: $left-padding;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:focus:not(&--active),
  &:hover {
    background: var(--color-gray-050);
  }

  &--active,
  &--active:hover {
    background: var(--color-gray-100);
  }

  &--has-related-node {
    padding-left: 0;
  }

  &__chain-link-icon {
    color: var(--color-secondary);
    margin: 0 8px;
  }

  &__label {
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(var(--left-menu-width) - #{$left-padding + $right-padding});
  }
}
