.LeftSubmenuItem {
  align-items: center;
  color: var(--color-primary);
  display: flex;
  line-height: 24px;
  overflow: hidden;
  padding-left: 36px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background: var(--color-sail-gray-050);
  }

  &--active,
  &--active:hover {
    background: var(--color-sail-gray-100);
  }
}
