.SendCoinsModal {
  width: 384px;

  &__coins-input {
    margin-left: -7px;
  }

  &__default-submit {
    display: flex;
    height: 35.5px;
  }

  &__submit-icon {
    margin-left: 6px;
    margin-top: 2px;
  }
}
