.SuccessToast {
  border-left: 3px solid var(--color-tertiary);
  display: flex;
  padding: 12px;

  &__icon {
    color: var(--color-tertiary);
    margin-right: 14px;
  }

  &__text {
    color: var(--color-black);
    font-family: var(--font-family-default);
    font-weight: bold;
    margin: 0;
  }
}
