$button-height: 24px;

.DropdownMenuButton {
  $self: &;
  cursor: pointer;
  transition: color 0.1s;

  &:hover,
  &--active {
    color: var(--color-primary);
  }

  &__menu {
    background: var(--color-white);
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 6px 0;
    position: fixed;
  }

  &__option {
    align-items: center;
    display: flex;
    height: 30px;
    outline: none;
    padding: 12px;
    transition: background 0.1s;
    white-space: nowrap;

    &:not(&--disabled) {
      cursor: pointer;

      &:hover {
        background: var(--color-neutral-300);
      }
    }

    &--disabled {
      color: var(--color-neutral-400);
      cursor: default;
    }
  }
}
