$button-height: 24px;

.DropdownMenuButton {
  $self: &;

  &--active {
    background: var(--color-gray-100);
  }

  &__menu {
    background: var(--color-white);
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 6px 0;
    position: fixed;
  }

  &__option {
    align-items: center;
    display: flex;
    height: 30px;
    padding: 12px;
    transition: background 0.1s;
    white-space: nowrap;

    &:focus {
      background: var(--color-gray-100);
    }

    &:not(&--disabled) {
      cursor: pointer;

      &:hover {
        background: var(--color-gray-050);
      }
    }

    &--disabled {
      color: var(--color-gray-300);
      cursor: default;
    }
  }
}
