$button-height: 24px;

.DropdownMenuButton {
  cursor: pointer;
  transition: color 0.1s;

  &:hover,
  &.active {
    color: var(--color-primary);
  }
}

#dropdown-root {
  .DropdownMenuButton__menu {
    background: var(--color-white);
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 6px 0;
    position: fixed;
  }

  .DropdownMenuButton__option {
    align-items: center;
    display: flex;
    height: 30px;
    padding: 12px;
    transition: background 0.1s;
    white-space: nowrap;

    &:not(.disabled) {
      cursor: pointer;

      &:hover {
        background: var(--color-gray-5);
      }
    }

    &.disabled {
      color: var(--color-gray-4);
      cursor: not-allowed;
    }
  }
}
