.PurchaseConfirmationServicesModal {
  width: 384px;

  &__account-balance {
    color: var(--color-tertiary);
  }

  &__table {
    width: 100%;

    td {
      border-top: 1px solid var(--color-sail-gray-100);
      min-width: 150px;
      padding: 6px 0;
      text-align: left;

      &:nth-child(1) {
        color: var(--color-sail-gray-500);
        font-weight: 500;
      }
    }
  }

  &__time-tr {
    td {
      border-top-width: 3px;
    }
  }
}
