@use 'src/renderer/styles/layout';

.PurchaseConfirmationServices {
  @include layout.main-container;

  &__no-authenticated-banks {
    color: var(--color-red-500);
    font-weight: bold;
  }

  &__table {
    position: relative;
    top: -30px;
  }

  .header {
    @include layout.main-container-header;
    margin-bottom: 18px;
  }

  .bank-select {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1;

    &__label {
      margin-right: 6px;
    }

    &__input {
      width: 420px;
    }
  }
}
