.Connect {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  &__header {
    align-items: center;
    display: flex;
  }

  &__logo {
    margin-right: 12px;
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__subheader {
    margin: 30px 0 18px;
  }

  &__field {
    margin: 6px 0;
    width: 360px;
  }
}
