.Radio {
  color: var(--color-sail-gray-700);
  display: inline-flex;

  &:hover {
    background: transparent;
  }

  &--error {
    color: var(--color-danger);
  }

  &__input {
    display: none;
  }
}
