.ValidatorOverview {
  padding: var(--page-padding);

  &__link {
    color: var(--color-secondary);
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
