@mixin base-formik-field-styling {
  &__label {
    color: var(--color-gray-3);
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }

  &__error {
    color: var(--color-danger);
    display: block;
    font-size: var(--font-size-small);
    margin-top: 6px;
    height: 14px;
  }
}
