.Toast {
  border-left-width: 3px;
  border-left-style: solid;
  display: flex;
  padding: 12px;

  &--success {
    border-left-color: var(--color-tertiary);
  }

  &--warning {
    border-left-color: var(--color-alert);
  }

  &__icon {
    margin-right: 12px;

    &--success {
      color: var(--color-tertiary);
    }

    &--warning {
      color: var(--color-alert);
    }
  }

  &__text {
    align-items: center;
    color: var(--color-black);
    display: flex;
  }
}
