.PageHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px;

  .left-section {
    align-items: center;
    display: flex;

    .header-title {
      font-weight: normal;
      font-size: 24px;
      margin-right: 6px;
    }

    .TrustBadge {
      margin-right: 6px;
    }
  }

  .right-section {
    align-items: center;
    display: flex;
  }
}
