@use 'styles/layout';

.PageHeader {
  @include layout.main-container-header;
  margin-bottom: 30px;

  &__DropdownMenuButton {
    margin-left: 8px;
  }

  &__left-section {
    align-items: center;
    display: flex;
  }

  &__right-section {
    align-items: center;
    display: flex;

    button {
      margin-left: 12px;
    }
  }

  &__title {
    color: var(--color-primary);
    margin-right: 18px;
  }
}
