.TileAccountNumber {
  $self: &;

  &__account-number {
    margin-bottom: 12px;
    word-wrap: break-word;
  }

  &__copy-container {
    align-items: center;
    color: var(--color-secondary);
    cursor: pointer;
    display: flex;

    &:hover {
      #{$self}__copy-text {
        text-decoration: underline;
      }
    }
  }

  &__copy-icon {
    margin-right: 6px;
  }

  &__title {
    color: var(--color-gray-500);
  }

  &__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
}
