.PageLayout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__divider {
    background-color: var(--color-gray-100);
    border: none;
    height: 1px;
    margin: 0 -2px;
  }

  &__content {
    flex: 1;
    overflow: auto;
  }
}
