.PageLayout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__divider {
    border-top: 1px solid var(--color-blue-gray-100);
    margin: 0 10px 12px 10px;
  }

  &__content {
    flex: 1;
    overflow: auto;
  }
}
