.Pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;

  &__button {
    align-items: center;
    border-radius: 15px;
    color: var(--color-secondary);
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 0 3px;
    min-width: 30px;
    padding: 0 6px;
    transition: all 0.1s;

    &:hover {
      background: var(--color-gray-100);
    }

    &--active {
      background: var(--color-gray-100);
      color: var(--color-primary);
    }

    &--disabled {
      color: var(--color-gray-700);
      cursor: default;

      &:hover {
        background: transparent;
      }
    }

    &--ellipses {
      color: var(--color-primary);
      cursor: default;

      &:hover {
        background: transparent;
      }
    }

    &--prev,
    &--next {
      padding: 0;
    }
  }
}
