$theme-colors: (default, var(--color-primary), #9b0007), (accent-1, var(--color-accent-1), var(--color-accent-1)),
  (accent-2, var(--color-accent-2), var(--color-accent-2));

@mixin button($color, $hoverColor) {
  background-color: $color;
  border: 1px solid $color;
  border-radius: 3px;
  color: var(--color-white);
  cursor: pointer;
  padding: 9px 12px;

  &:hover {
    background-color: $hoverColor;
    border: 1px solid $hoverColor;
  }
}

@mixin button-outline($color, $hoverColor) {
  background-color: transparent;
  border: 1px solid $color;
  border-radius: 3px;
  color: $color;
  cursor: pointer;
  padding: 9px 12px;

  &:hover {
    border: 1px solid $hoverColor;
    color: $hoverColor;
  }
}

.button {
  @each $name, $color, $hoverColor in $theme-colors {
    &-#{$name} {
      @include button($color, $hoverColor);
    }
  }

  @each $name, $color, $hoverColor in $theme-colors {
    &-outline-#{$name} {
      @include button-outline($color, $hoverColor);
    }
  }
}
