:root {
  --color-danger: #d30c15;
  --color-primary-disabled-fill: #fff9f9;
  --color-primary-disabled-text: #94c9ea;
  --color-primary-disabled: #b2d7ee;
  --color-primary-hover: #06457a;
  --color-primary-outline-bg: #b9daee;
  --color-primary: #042235;
  --color-sail-gray-050: #f7fafc;
  --color-sail-gray-100: #e3e8ee;
  --color-sail-gray-300: #a3acb9;
  --color-sail-gray-500: #697386;
  --color-sail-gray-700: #3c4257;
  --color-secondary: #556cd6;
  --color-tertiary: #1ea672;
  --color-white: white;
}
