:root {
  --color-accent-1: #1562d1;
  --color-accent-2: #108118;
  --color-black: black;
  --color-gray-1: #333333;
  --color-gray-2: #4f4f4f;
  --color-gray-3: #828282;
  --color-gray-4: #e0e0e0;
  --color-gray-5: #ededed;
  --color-gray-6: #fafafa;
  --color-primary: #d30c15;
  --color-white: white;
}
