:root {
  --color-primary: #042235;
  --color-primary-dark: #031521;
  --color-primary-disabled: #b2d7ee;
  --color-primary-disabled-text: #94c9ea;
  --color-primary-disabled-fill: #fff9f9;
  --color-primary-outline-bg: #b9daee;
  --color-secondary: #556cd6;
  --color-secondary-outline-bg: #deebff;
  --color-tertiary: #1ea672;
  --color-black: black;
  --color-danger: #d30c15;
  --color-panels-bg: #f9fbfd;
  --color-neutral-900: #212121;
  --color-neutral-800: #424242;
  --color-neutral-700: #616161;
  --color-neutral-600: #757575;
  --color-neutral-500: #9e9e9e;
  --color-neutral-400: #bdbdbd;
  --color-neutral-300: #e0e0e0;
  --color-neutral-200: #eeeeee;
  --color-neutral-100: #f5f5f5;
  --color-neutral-50: #fafafa;
  --color-blue-gray-900: #263238;
  --color-blue-gray-800: #37474f;
  --color-blue-gray-700: #455a64;
  --color-blue-gray-600: #546e7a;
  --color-blue-gray-500: #607d8b;
  --color-blue-gray-400: #78909c;
  --color-blue-gray-300: #90a4ae;
  --color-blue-gray-200: #b0bec5;
  --color-blue-gray-100: #cfd8dc;
  --color-blue-gray-50: #eceff1;
  --color-sail-gray-700: #3c4257;
  --color-sail-gray-500: #697386;
  --color-white: white;
}
