:root {
  --color-alert: #ed5f74;
  --color-danger: #d30c15;
  --color-primary-disabled-fill: #fff9f9;
  --color-primary-disabled-text: #94c9ea;
  --color-primary-disabled: #b2d7ee;
  --color-primary-hover: #06457a;
  --color-primary-outline-bg: #b9daee;
  --color-primary: #042235;
  --color-sail-gray-050: #f7fafc;
  --color-sail-gray-100: #e3e8ee;
  --color-sail-gray-300: #a3acb9;
  --color-sail-gray-500: #697386;
  --color-sail-gray-700: #3c4257;
  --color-sail-green-100: #cbf4c9;
  --color-sail-green-500: #09825d;
  --color-sail-red-100: #fde2dd;
  --color-sail-red-500: #cd3d64;
  --color-sail-yellow-100: #f8e5b9;
  --color-sail-yellow-500: #bb5504;
  --color-secondary: #556cd6;
  --color-tertiary: #1ea672;
  --color-white: white;
  --color-black: black;
}
