* {
  box-sizing: border-box;
  line-height: 1.2;
  outline: none;
}

body {
  background: var(--color-gray-050);
  color: var(--color-primary);
  font-family: var(--font-family-default);
  font-size: var(--font-size-regular);
  margin: auto;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

b,
strong {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--font-size-extra-large);
  height: 30px;
  padding-top: 3px;
}

h2 {
  font-size: var(--font-size-large);
  font-weight: 700;
}

h3 {
  font-size: var(--font-size-medium);
  font-weight: 700;
}

h4 {
  font-size: var(--font-size-regular);
  font-weight: 800;
}

p {
  margin: 0 0 20px 0;
}
