* {
  box-sizing: border-box;
  line-height: 1.2;
}

body {
  background: var(--color-gray-6);
  color: var(--color-gray-1);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: var(--font-size-regular);
  margin: auto;
}

a {
  color: var(--color-accent-1);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-grey-dark);
  margin: 0;
}

h1 {
  font-size: var(--font-size-large);
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: 500;
}

h3 {
  font-size: var(--font-size-regular);
  font-weight: bold;
}

p {
  margin: 0 0 20px 0;
}
