* {
  box-sizing: border-box;
  line-height: 1.2;
}

body {
  background: var(--color-neutral-50);
  color: var(--color-neutral-900);
  font-family: var(--font-family-default);
  font-size: var(--font-size-regular);
  margin: auto;
}

a {
  color: var(--color-secondary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: var(--font-size-large);
  font-weight: normal;
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: 500;
}

h3 {
  font-size: var(--font-size-regular);
  font-weight: bold;
}

p {
  margin: 0 0 20px 0;
}
