form {
  label {
    color: var(--color-gray-3);
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }

  span.error {
    color: var(--color-danger);
    display: block;
    font-size: var(--font-size-small);
    margin-top: 6px;
    height: 14px;
  }
}

input,
select {
  border-radius: 3px;
  border: 1px solid var(--color-gray-3);
  height: 30px;
  outline: none;
  padding: 0 6px;
  transition: all 0.3s;

  &:active,
  &:focus {
    border-color: var(--color-accent-1);
  }
}
