input,
textarea {
  &:hover {
    border-color: var(--color-secondary);
  }

  &:disabled {
    background: var(--color-white);

    &::placeholder {
      color: var(--color-sail-gray-300);
    }
  }

  &::placeholder {
    color: var(--color-sail-gray-500);
  }

  // get rid of arrows/spinners for numeric inputs
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.FormFieldComponent {
  &__label {
    color: var(--color-sail-gray-500);
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .FormField {
    width: 100%;

    &__option {
      align-items: center;
      display: flex;
    }

    &__option-input {
      margin-right: 8px;
    }

    &__option-label {
      cursor: pointer;

      &--disabled {
        cursor: default;
      }
    }
  }

  &__error-message {
    color: var(--color-danger);
    display: block;
    font-size: var(--font-size-small);
    margin: 3px 0 6px;
    height: 14px;
  }
}
