form {
  label {
    color: var(--color-gray-3);
    font-weight: bold;
  }

  span.error {
    color: var(--color-danger);
  }
}

// get rid of arrows/spinners for numeric inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.FormFieldComponent {
  label {
    display: block;
    margin-bottom: 3px;
  }

  .FormField {
    width: 300px;
  }

  span.error {
    display: block;
    font-size: var(--font-size-small);
    margin-top: 6px;
    height: 14px;
  }
}
