@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.ConnectionStatus {
  border-radius: 3px;
  margin-bottom: 24px;
  padding: 10px 18px;

  &--checking {
    background: var(--color-tnb-yellow-100);
    color: var(--color-tnb-yellow-500);
  }

  &--connected {
    background: var(--color-tnb-green-100);
    color: var(--color-tnb-green-500);
  }

  &--not-connected {
    background: var(--color-tnb-red-100);
    color: var(--color-tnb-red-500);
  }

  &__badge {
    display: flex;
  }

  &__icon {
    margin-right: 16px;
  }

  &__icon--spin {
    animation: spin 1.5s linear infinite;
  }

  &__main-title {
    font-weight: bold;
    margin-bottom: 3px;
  }

  &__sub-title {
    font-size: var(--font-size-small);
  }
}
