.ConnectionStatus {
  border-radius: 3px;
  margin-bottom: 24px;
  padding: 10px 18px;

  &--checking {
    background: var(--color-sail-yellow-100);
    color: var(--color-sail-yellow-500);
  }

  &--connected {
    background: var(--color-sail-green-100);
    color: var(--color-sail-green-500);
  }

  &--not-connected {
    background: var(--color-sail-red-100);
    color: var(--color-sail-red-500);
  }

  &__badge {
    display: flex;
  }

  &__icon {
    margin-right: 16px;
  }

  &__main-title {
    font-weight: bold;
    margin-bottom: 3px;
  }

  &__sub-title {
    font-size: var(--font-size-small);
  }
}
