.LeftSubmenuItemLink {
  $left-spacing: 36px;

  align-items: center;
  color: var(--color-primary);
  display: flex;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:focus:not(&--active),
  &:hover {
    background: var(--color-gray-050);
  }

  &--active,
  &--active:hover {
    background: var(--color-gray-100);
  }

  &--no-link {
    padding-left: $left-spacing;
  }

  &__Linked {
    margin: 0 8px;
    color: var(--color-secondary);
  }

  &__label {
    line-height: 24px;
    overflow: hidden;
    padding-right: 12px;
    text-overflow: ellipsis;
    width: calc(var(--left-menu-width) - #{$left-spacing});
  }
}
