.PageLayout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .PageLayout-divider {
    height: 1px;
    background-color: var(--color-blue-gray-100);
    margin: 0 10px 20px 10px;
  }

  &-content {
    flex: 1;
    overflow: auto;
  }
}
