.ExpandableTableRow {
  td {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;

    .ArrowToggle {
      display: flex;
    }
  }

  &.expanded {
    td {
      white-space: normal;
      word-wrap: break-word;
    }
  }
}
