.ExpandableTableRow {
  $self: &;

  td {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }

  &--expanded {
    td {
      white-space: normal;
      word-wrap: break-word;
    }
  }
}
