.TileSigningKey {
  &__amount {
    color: var(--color-tertiary);
    font-size: var(--font-size-large);
  }

  &__copy-icon {
    color: var(--color-secondary);
    cursor: pointer;
  }

  &__download-icon,
  &__eye-icon {
    color: var(--color-secondary);
    cursor: pointer;
    margin-right: 15px;
  }

  &__icons-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__title {
    color: var(--color-gray-500);
    margin-bottom: 6px;
  }

  &__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__signing-key {
    word-wrap: break-word;
  }
}
