.PaginatedTable {
  &__expand-toggle {
    margin-right: 10px;
  }

  &__expand-toggle-container {
    align-items: center;
    display: flex;
  }

  &__PaginationSummary {
    padding: 2px 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin: 12px 6px;

    &__right {
      display: flex;
    }
  }
}
