.PaginatedTable {
  &__expand-toggle-container {
    align-items: center;
    display: flex;
  }

  &__PaginationSummary {
    padding: 2px 0;
  }

  .header {
    background: var(--color-gray-050);
    box-shadow: 0 2px var(--color-gray-100);
    display: flex;
    justify-content: space-between;
    padding: 12px 6px;
    position: fixed;
    width: calc(100% - (var(--left-menu-width)) - 38px);
    &__right {
      display: flex;
    }
  }
}
