.Badge {
  border-radius: 12px;
  font-size: 12px;
  padding: 4px 8px;

  &--clickable {
    cursor: pointer;
  }

  &--primary {
    background: var(--color-primary);
    color: var(--color-white);
    font-weight: 400;
  }

  &--secondary {
    background: var(--color-secondary);
    color: var(--color-white);
    font-weight: 400;
  }

  &--tertiary {
    background: var(--color-green-100);
    color: var(--color-green-500);
    font-weight: 700;
  }

  &--transparent {
    color: var(--color-secondary);
    padding: 0;
  }
}
