.Badge {
  border-radius: 12px;
  font-size: var(--font-size-small);
  padding: 4px 8px;

  &--primary {
    background: var(--color-primary);
    color: var(--color-white);
    font-weight: 400;
  }

  &--secondary {
    background: var(--color-secondary);
    color: var(--color-white);
    font-weight: 400;
  }

  &--tertiary {
    background: var(--color-tertiary);
    color: var(--color-white);
    font-weight: 400;
  }

  &--tertiary-light {
    background: var(--color-green-100);
    color: var(--color-green-500);
    font-weight: 700;
  }
}
