.Account {
  .detail-panels {
    .DetailPanel {
      margin: 18px 12px 0;
    }
  }
}

.Account__DeleteModal {
  .Icon__warning {
    color: var(--color-danger);
    margin-right: 12px;
  }

  .Modal__title {
    color: var(--color-danger);
  }

  .delete-warning-span {
    color: var(--color-danger);
    font-weight: bold;
    text-transform: uppercase;
  }
}

.Account__SendPointsModal {
  table {
    td,
    th {
      border-bottom: 1px solid var(--color-neutral-400);
      text-align: left;
      padding: 6px 0;
    }

    td:nth-child(1),
    th {
      color: var(--color-neutral-600);
      font-weight: 500;
    }

    td {
      min-width: 150px;
      .error {
        display: none;
      }
    }
  }
}
