.SendPointsModal {
  width: 384px;

  &__account-balance {
    color: var(--color-neutral-500);
  }

  &__default-submit {
    display: flex;
    height: 35.5px;
  }

  &__error {
    color: var(--color-danger);
    display: block;
  }

  &__points-input {
    margin-left: -7px;
  }

  &__select {
    margin-bottom: 3px;
  }

  &__submit-icon {
    margin-left: 6px;
  }

  &__table {
    width: 100%;

    td {
      border-top: 1px solid var(--color-neutral-300);
      min-width: 150px;
      padding: 6px 0;
      text-align: left;

      &:nth-child(1) {
        color: var(--color-neutral-600);
        font-weight: 500;
      }
    }
  }

  &__total-tr {
    td {
      border-top-width: 3px;
    }
  }
}
