.DeleteAccountModal {
  &__icon {
    color: var(--color-alert);
    margin-right: 9px;
  }

  &__title {
    color: var(--color-alert);
  }

  &__warning-span {
    color: var(--color-alert);
    font-weight: bold;
    text-transform: uppercase;
  }
}
