.Sample {
  &__header {
    align-items: center;
    border-bottom: 1px solid var(--color-black);
    display: flex;
    font-size: 1.75em;
    font-weight: bold;
    padding: 0.5em 1em;

    span {
      color: var(--color-primary);
    }
  }

  &__body {
    padding: 0 1em;
  }

  .header__logo {
    display: block;
    border-radius: 50%;
    max-width: 1.75em;
    margin-right: 0.25em;
  }

  &__form {
    width: 75%;
  }

  .form-row {
    padding: 0.75em;
  }

  .form-submit {
    display: flex;
    justify-content: center;

    button {
      width: 50%;
    }
  }
}
