.ArrowToggle {
  color: var(--color-tnb-gray-700);
  transition: transform 0.06s linear;

  &:hover {
    background: transparent;
  }

  &--expanded {
    margin-left: 1px;
    margin-right: -1px;
    transform: rotate(90deg);
  }
}
