.LinkWithIcon {
  align-items: center;
  display: flex;

  svg {
    margin-right: 15px;
  }

  &__text {
    margin-top: 1px;
  }

  &:hover {
    cursor: pointer;

    svg,
    .LinkWithIcon__text {
      color: var(--color-accent-1);
    }
  }
}
