.TopNavNotificationsMenu {
  $left-spacing: 32px;

  background: var(--color-white);
  border-radius: 3px;
  box-shadow: 0 3px 12px 1px rgba(4, 34, 53, 0.24);
  max-width: 440px;
  min-width: 400px;
  position: fixed;
  right: 12px;
  top: 40px;

  &__amount {
    color: var(--color-tertiary);
    padding-right: 12px;
  }

  &__count {
    color: var(--color-alert);
    font-size: 10px;
    font-weight: 500;
    margin-left: 12px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
  }

  &__header {
    align-items: baseline;
    display: flex;
    border-bottom: 1px solid var(--color-sail-gray-100);
    justify-content: space-between;
    padding: 12px 12px 18px $left-spacing;
  }

  &__header-left {
    align-items: baseline;
    display: flex;
  }

  &__Icon {
    color: var(--color-alert);
    flex-basis: $left-spacing;
    min-width: $left-spacing;

    &--offline {
      color: var(--color-sail-gray-300);
    }
  }

  &__mark-as-read {
    color: var(--color-secondary);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__NavLink {
    color: var(--color-primary);
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__notification {
    border-bottom: 1px solid var(--color-sail-gray-100);
    display: flex;
    padding: 12px 0;
  }

  &__right {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  &__time {
    color: var(--color-alert);
    font-size: 10px;
    font-weight: 500;
    margin-top: 6px;
  }
}
