.Button {
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  outline: none;
  padding: 9px 12px;
  transition: all 0.3s;

  &--contained {
    color: var(--color-white);

    &.Button--primary {
      background: var(--color-primary);
      border-color: var(--color-primary);

      &:hover {
        background: #9b0007;
        border-color: #9b0007;
      }
    }

    &.Button--accent1 {
      background: var(--color-accent-1);
      border-color: var(--color-accent-1);

      &:hover {
        background: var(--color-accent-1);
        border-color: var(--color-accent-1);
      }
    }

    &.Button--accent2 {
      background: var(--color-accent-2);
      border-color: var(--color-accent-2);

      &:hover {
        background: var(--color-accent-2);
        border-color: var(--color-accent-2);
      }
    }
  }

  &--outlined {
    background: transparent;

    &.Button--primary {
      border-color: var(--color-primary);
      color: var(--color-primary);

      &:hover {
        border-color: #9b0007;
        color: #9b0007;
      }
    }

    &.Button--accent1 {
      border-color: var(--color-accent-1);
      color: var(--color-accent-1);

      &:hover {
        border-color: var(--color-accent-1);
        color: var(--color-accent-1);
      }
    }

    &.Button--accent2 {
      border-color: var(--color-accent-2);
      color: var(--color-accent-2);

      &:hover {
        border-color: var(--color-accent-2);
        color: var(--color-accent-2);
      }
    }
  }
}
