.LeftSubmenu {
  padding: 12px 12px 12px 6px;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .left-items,
    .right-items {
      align-items: center;
      display: flex;

      .submenu-title {
        padding: 2px 0 0 10px;
      }
    }

    .left-items {
      .ArrowToggle {
        .Icon {
          padding: 4px;
        }
      }
    }

    .right-items {
      .Icon {
        color: var(--color-neutral-700);
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  .MenuItem {
    display: block;
    line-height: 24px;
    overflow: hidden;
    padding: 0 0 0 35px; /* 28px is the width of the menu toggle */
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-primary);
    font-family: Helvetica Neue;
  }
}
