.Layout {
  display: grid;
  grid-template-columns: 230px auto;
  grid-template-rows: fit-content(100px) auto;
  height: 100vh;

  .top {
    border-bottom: 1px solid var(--color-gray-4);
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }

  .left {
    background: var(--color-white);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    overflow-y: auto;
  }

  .right {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    overflow-y: auto;
  }
}
