.PageTabs {
  $self: &;
  display: flex;
  padding: 0 12px;
  text-transform: uppercase;

  &__tab {
    color: var(--color-sail-gray-500);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 30px;
    text-decoration: none;

    &:focus:not(&--active) {
      #{$self}__tab-indicator {
        background: var(--color-sail-gray-300);
        color: var(--color-sail-gray-300);
      }
    }

    &:hover,
    &--active {
      #{$self}__tab-name {
        color: var(--color-primary);
      }

      #{$self}__tab-indicator {
        background: var(--color-primary);
        color: var(--color-primary);
      }
    }
  }

  &__tab-name {
    font-weight: 500;
    padding-bottom: 6px;
    transition: all 0.1s;
  }

  &__tab-indicator {
    background: transparent;
    border-radius: 3px 3px 0 0;
    height: 3px;
    transition: all 0.1s;
  }
}
