.LeftSubmenu {
  padding: 12px 12px 12px 10px;

  &__add-icon {
    color: var(--color-sail-gray-700);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    height: 20px;
    transition: color 0.1s;
    width: 20px;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
  }

  &__left-items {
    align-items: center;
    display: flex;
  }

  &__right {
    color: var(--color-secondary);
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__title {
    color: var(--color-sail-gray-500);
    cursor: default;
    padding: 2px 0 0 10px;

    &--only {
      padding-left: 26px;
    }
  }
}
