.default-icon-style {
  svg {
    height: auto;
    width: auto;
  }

  &.match-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &.ht-auto {
    svg {
      height: auto;
    }
  }

  &.wt-auto {
    svg {
      width: auto;
    }
  }
}
