.Pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;

  &__button {
    color: var(--color-secondary);
    cursor: pointer;

    &--disabled {
      color: var(--color-neutral-400);
      cursor: default;
    }

    &--active {
      color: var(--color-neutral-900);
      cursor: default;
    }

    &:hover:not(&--disabled):not(&--active) {
      text-decoration: underline;
    }
  }

  &__next-button {
    margin-left: 30px;
  }

  &__page {
    padding: 0 3px;
  }

  &__prev-button {
    margin-right: 30px;
  }
}
