.Pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 24px 0;

  &__prev-button {
    margin-right: 30px;
  }

  &__next-button {
    margin-left: 30px;
  }

  &__page {
    padding: 0 3px;

    &--active {
      color: var(--color-neutral-900);
    }
  }
}
