.Pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;

  &__next-button,
  &__page,
  &__prev-button {
    color: var(--color-secondary);
    text-decoration: none;
  }

  &__next-button {
    margin-left: 30px;
  }

  &__page {
    padding: 0 3px;

    &--active {
      color: var(--color-neutral-900);
    }
  }

  &__prev-button {
    margin-right: 30px;
  }
}
