.Notifications {
  $left-spacing: 32px;

  &--active {
    background: var(--color-sail-gray-100);
  }

  &__amount {
    color: var(--color-tertiary);
    padding-right: 12px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
  }

  &__Icon {
    color: var(--color-alert);
    flex-basis: $left-spacing;
    min-width: $left-spacing;

    &--offline {
      color: var(--color-sail-gray-300);
    }

    &--read {
      color: transparent;
    }
  }

  &__Icon-container {
    position: relative;
  }

  &__NavLink {
    color: var(--color-primary);
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__notification {
    border-bottom: 1px solid var(--color-sail-gray-100);
    display: flex;
    padding: 12px 0;
  }

  &__right {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  &__time {
    color: var(--color-alert);
    font-size: 10px;
    font-weight: 500;
    margin-top: 6px;

    &--read {
      color: var(--color-primary);
    }
  }

  &__unread-notifications-dot {
    background: var(--color-alert);
    border-radius: 99px;
    cursor: pointer;
    height: 11px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 10px;
  }
}
