.Notifications {
  $left-spacing: 32px;

  &--active {
    background: var(--color-gray-100);
  }

  &__amount {
    color: var(--color-tertiary);
    padding-right: 12px;
  }

  &__bell-alert-badge {
    position: absolute;
    right: 5px;
    top: 7px;
  }

  &__description {
    padding-right: 12px;
  }

  &__Icon {
    color: var(--color-alert);
    flex-basis: $left-spacing;
    min-width: $left-spacing;

    &--read {
      color: transparent;
    }
  }

  &__icon-container {
    position: relative;
  }

  &__NavLink {
    color: var(--color-primary);
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__notification {
    border-bottom: 1px solid var(--color-gray-100);
    display: flex;
    justify-content: space-between;
    padding: 12px 0 12px 33px;
    position: relative;
  }

  &__row-alert-badge {
    left: 12px;
    position: absolute;
    top: 17px;
  }

  &__time-ago {
    color: var(--color-alert);
    font-size: 10px;
    font-weight: 500;
    margin-top: 6px;

    &--read {
      color: var(--color-primary);
    }
  }
}
