.Left {
  background: var(--color-white);
  height: 100%;

  .section-header {
    color: var(--color-gray-3);
    font-weight: bold;
  }

  &__company-logo {
    align-items: center;
    border-bottom: 1px solid var(--color-gray-4);
    display: flex;
    padding: 12px;

    .company-logo__logo {
      margin-right: 12px;
      height: 30px;
      width: 30px;
    }

    .company-logo__text {
      font-size: var(--font-size-medium);
    }
  }

  &__points {
    border-bottom: 1px solid var(--color-gray-4);
    padding: 12px;

    .points__title {
      margin-bottom: 6px;
    }

    .points__amount {
      color: var(--color-accent-2);
      font-size: var(--font-size-medium);
    }
  }

  &__network-overview {
    border-bottom: 1px solid var(--color-gray-4);
    padding: 12px;

    .network-overview__title {
      margin-bottom: 6px;
    }

    .network-overview__overview {
      span {
        display: block;
        margin: 2px 0;
      }
    }
  }

  .Card {
    border-bottom: 1px solid var(--color-gray-4);
  }

  &__links {
    margin: 18px 12px;

    .LinkWithIcon {
      margin-bottom: 12px;
    }
  }
}
