.Card {
  padding: 12px;

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: 12px;

    .CreateIcon {
      margin-right: 6px;
    }
  }

  .header__title {
    color: var(--color-gray-3);
    display: block;
    flex: 1;
    font-weight: bold;
  }

  &__link {
    display: block;
    font-weight: 300;
    line-height: 1.5;
  }
}
