.LeftSubmenuItemStatus {
  align-items: center;
  color: var(--color-primary);
  display: flex;
  line-height: 24px;
  overflow: hidden;
  padding: 0 12px 0 10px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    background: var(--color-sail-gray-050);
  }

  &--active,
  &--active:hover {
    background: var(--color-sail-gray-100);
  }

  &__Icon {
    width: 16px;

    &--offline {
      color: var(--color-sail-gray-300);
    }

    &--online {
      color: var(--color-tertiary);
    }
  }

  &__label {
    line-height: 24px;
    padding-left: 10px;
  }
}
