.BulkPurchaseConfirmationServicesModalFields {
  display: flex;

  &__bank-address {
    color: var(--color-gray-500);
    margin-bottom: 16px;
  }

  &__bank-nickname {
    font-size: var(--font-size-large);
    margin-bottom: 30px;
  }

  &__Input {
    width: 100%;
  }

  &__left {
    flex: 1;
    margin-left: 12px;
    max-height: calc(85vh - var(--modal-header-height) - 24px);
    overflow-y: auto;
    position: relative;
  }

  &__right {
    background: var(--color-white);
    border-left: 1px solid var(--color-gray-100);
    height: calc(85vh - var(--modal-header-height) - 24px);
    padding: 12px 18px;
    width: 334px;
  }

  &__table {
    &__td {
      // nodeIdentifier column
      &--0 {
        width: 285px;
      }

      // ConnectionStatus column
      &--1 {
        padding-right: 12px;
        max-width: 150px;
      }

      // dailyRate column
      &--2 {
        max-width: 125px;
      }

      // amount column
      &--3 {
        max-width: 130px;
      }

      // delete row column
      &--4 {
        text-align: center;
        max-width: 50px;
      }
    }

    &__th {
      background: var(--color-gray-050);
      height: 35px;
      padding: 6px 4px;
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}
