.Right {
  background: var(--color-gray-3);
  height: 100%;

  &__header {
    display: flex;
    margin: 16px 12px 24px;

    .manage-banks-button {
      margin-right: 12px;
    }
  }

  .header__title {
    flex: 1;
    font-size: var(--font-size-medium);

    .title__points {
      background: var(--color-accent-1);
      border-radius: 6px;
      color: black;
      font-weight: bold;
      margin-left: 12px;
      padding: 3px;
    }
  }

  &__content {
    background: var(--color-gray-2);
    height: calc(100% - 124px);
    margin-left: 3px;
    padding: 12px;
  }
}
