.TopNav {
  align-items: center;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;

  &__container {
    color: var(--color-blue-gray-700);
    cursor: pointer;
    display: flex;

    .Icon {
      margin: 0 4px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
