.TopNav {
  align-items: center;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;

  &__change-bank {
    color: var(--color-secondary);
    cursor: pointer;
    margin-right: 12px;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__container {
    align-items: center;
    color: var(--color-sail-gray-700);
    display: flex;
  }

  &__icon {
    margin: 0 4px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__primary-validator {
    color: var(--color-primary);
    margin-right: 32px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
