.TopNav {
  align-items: center;
  background: white;
  display: flex;
  padding: 12px 14px;

  .Icon {
    color: var(--color-blue-gray-700);
    cursor: pointer;
  }

  .navigation-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;

    div {
      display: flex;

      .Icon {
        margin: 0 4px;
      }
    }
  }

  .thenewboston {
    align-items: center;
    border-right: none;
    display: flex;
    width: var(--left-menu-width);

    .Logo {
      margin-right: 6px;
    }
  }
}
