.EditBankModal {
  .Icon__arrow {
    margin-right: 12px;
  }

  .footer-left-text {
    flex: 1;
  }
}

.CustomOption {
  margin: 6px 0;

  &__nickname {
    color: var(--color-gray-3);
  }

  &__label {
    word-break: break-all;
  }
}
